@import "tailwindcss";

@theme {
  --color-cursia-blue: #38b6ff;
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  overflow: hidden;
}